# Sample user-override file
# This assumes that the host has been joined to the example.com domain.
# To validate user-override file: vastool status

# Overrides the Unix name of the user in example.com with samaccountname to 
# john_doe. john_doe's local uid is also set to 708, while his local gecos
# field is set to "Overridden Gecos".

EXAMPLE\jdoe:john_doe:708::Overridden Gecos::

#alternatively John Doe could be identified by his user principal name (UPN).

jdoe@example.com:john_doe:708::Overridden Gecos::

# Overrides the Unix name of user Robert in the Example domain (setting it
# to bob). Robert will also now have the default shell of /bin/sh, and a
# primary gid of 1200.

EXAMPLE\Robert:bob::1200:::/bin/sh

# Overrides every member of the group example_group to have the bash shell and
# a home directory of /home/<username>. The %s is replaced with the user's Unix
# name. With group overrides you can only override the shell and/or home
# directory.

EXAMPLE\example_group:::::/home/%s:/bin/bash

# Alternatively example group could be specified using it's unix group name for
# backward compatibility (although not recommended).

example_group:::::/home/%s:/bin/bash
